extends /layouts/main-layout.pug

include /mixins/forms.pug

block content
  .row.justify-content-md-center
    .col-12.mt-3
      form(action=urlFor('filterTasks') method='post' novalidate)
        .row 
          .col-2
            .form-group
              label(for='selectStatusControl') Status
              select.form-control(id='selectStatusControl' name='form.statusId')
                option(value=0) None
                each status in statuses
                  +createSelectOption(status.id, status.name, form.statusId)
          .col-2
            .form-group
              label(for='selectAssignedToControl') Assigned to
              select.form-control(id='selectAssignedToControl' name='form.assignedToId')
                option(value=0) None
                each user in users
                  +createSelectOption(user.id, user.email, form.assignedToId)
          .col-2
            .form-group
              label(for='inputTags') Tags
              input.form-control(type='text' name='form.tags' id='inputTags' value=form.tags)
          .col-2.d-flex.align-items-end.mb-3
            +createCheckBoxGroup('showMyTasksCheckBoxId', 'form.showMyTasks', 'Show my tasks', form.showMyTasks)
          .col-2.d-flex.align-items-end
            .form-group
              button.btn.btn-primary(type='submit') Apply
              a.btn.btn-outline-secondary.ml-1(href=urlFor('clearTaskFilter') data-method='delete' rel='nofollow') Clear
  .row.justify-content-md-center
    .col-12.mb-3.text-left
      a.btn.btn-primary.btn-sm(href=urlFor('tags')) Manage Tags
      a.btn.btn-success.btn-sm.ml-2(href=urlFor('newTask')) Add Task

  .row.justify-content-md-center
    each task in tasks
      .card.m-1.col-3.p-0
        .card-header.px-2.py-1.text-truncate
          =task.name
        .card-body.py-1
          p.m-0
            if task.description
              =task.description
            else
              span.font-italic.text-muted no description
          hr.my-1
          p.m-0
            span Status: 
            span.badge.badge-secondary=task.TaskStatus.name
          p.m-0
            span Creator: 
            span.badge.badge-secondary=task.Creator.email
          p.m-0
            span Assigned to: 
            if (task.AssignedTo)
              span.badge.badge-success=task.AssignedTo.email
            else
              span.font-italic.text-muted not assigned
          .flex
            .justify-content-end 
              span Tags:
              each tag in task.Tags
                span.badge.badge-primary.mx-1=tag.name
        .card-footer.px-2.py-1
          a.card-link(href=urlFor('editTask', task.id)) Edit