doctype html
html(lang="en")
  head
    title Simple Task Manager
    link(rel='icon' type='image/png' href='/assets/img/logo_03.png')
    script(src='/assets/main.js')
    script(src='/assets/bundle.js')
  body
    nav.navbar.navbar-expand-sm.navbar-dark.bg-dark
      a.navbar-brand(href=urlFor('root'))
        img.d-inline-block.align-top(src='/assets/img/logo_03.png' width='30' height='30' alt='')
        span.ml-2 Task Manager
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      .collapse.navbar-collapse(id='navbarNav')
        .navbar-nav.mr-auto
          a.nav-item.nav-link.active(href=urlFor('tasks')) Tasks
          a.nav-item.nav-link(href=urlFor('users')) Users
        if isAuthenticated()
          .navbar-nav
            a.btn.btn-outline-light.mr-2(href=urlFor('logout')) Log Out
        else
          .navbar-nav
            a.btn.btn-outline-light.mr-2(href=urlFor('login')) Log In
            a.btn.btn-primary(href=urlFor('register')) Sign Up
    .container
      - const msg = flash.get()
      if msg
        .alert.alert-info.m-3= msg
      block content