- const tryAddActiveClass = (url) => currentUrl === url ? 'active' : '';

mixin addNavLink(url, name)
  a.nav-item.nav-link(class= tryAddActiveClass(url) href= url)= name

doctype html
html(lang="en")
  head
    title Simple Task Manager
    link(rel='icon' type='image/png' href='/assets/img/logo_03.png')
    script(src='/assets/main.js')
    script(src='/assets/bundle.js')
  body
    nav.navbar.navbar-expand-sm.navbar-dark.bg-dark
      a.navbar-brand(href=urlFor('root'))
        img.d-inline-block.align-top(src='/assets/img/logo_03.png' width='30' height='30' alt='')
        span.ml-2 Task Manager
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      .collapse.navbar-collapse(id='navbarNav')
        .navbar-nav.mr-auto
          +addNavLink(urlFor('tasks'), 'Tasks')
          +addNavLink(urlFor('users'), 'Users')
        if user.isAuthenticated
          .navbar-nav
            .btn-group
              button.btn.btn-outline-info.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')= user.name
              .dropdown-menu.dropdown-menu-right
                a.dropdown-item(href=urlFor('profile', user.id)) Profile
                a.dropdown-item(href=urlFor('changePassword', user.id)) Change password
                .dropdown-divider
                a.dropdown-item(href=urlFor('logout')) Logout
        else
          .navbar-nav
            a.btn.btn-outline-light.mr-2(href=urlFor('newSession')) Log In
            a.btn.btn-primary(href=urlFor('newUser')) Sign Up
    .container
      - const msg = flash.get()
      if msg
        .alert.alert-info.m-3= msg
      block content