extends /layouts/auth-layout.pug

mixin createInputGroup(propName, inputType, labelMsg, dataObj, errors)
  .form-group
    - const className = errors[propName] && 'form-control is-invalid' || 'form-control'
    - const inputId = `input${propName}`
    label(for= inputId class='sr-only')= labelMsg
    input(type= inputType name= `form.${propName}` value=dataObj[propName] id= inputId class= className placeholder= labelMsg)
    if errors[propName]
      .invalid-feedback= errors[propName].map(({ message }) => message).join('. ')

block content
  form(action=urlFor('register') method='post' novalidate)
    h1(class='h5 my-3 text-center font-weight-normal') Sign Up
    +createInputGroup('email', 'email', 'Email address', form, errors)
    +createInputGroup('firstName', 'text', 'First name', form, errors)
    +createInputGroup('lastName', 'text', 'Last name', form, errors)
    +createInputGroup('password', 'password', 'Password', form, errors)
    +createInputGroup('confirmPassword', 'password', 'Confirm password', form, errors)
    .form-group
      button(class='btn btn-lg btn-primary btn-block' type='submit') Sing Up