extends /layouts/main-layout.pug

include /mixins/forms.pug

block content
  .row.mt-3.justify-content-center
    form(action=urlFor('updateProfile', user.id) method='post' novalidate)
      h1.h5.my-3.text-center.font-weight-normal Edit profile
      input(name='_method' type='hidden' value='put')
      input(name='form.id' type='hidden' value=form.id)
      input(name='form.email' type='hidden' value=form.email)
      .form-group
        label(for='inputId') User id
        input(type='text' name='form.id' value=form.id id='inputId' class='form-control' disabled)
      .form-group
        label(for='inputEmail') Email
        input(type='email' name='form.email' value=form.email id='inputEmail' class='form-control' disabled)
      +createInputGroup("firstName", 'text', 'First name', form, errors)
      +createInputGroup("lastName", 'text', 'Last name', form, errors)
      .form-group
        button(class='btn btn-primary btn-block' type='submit') Update profile
        button.btn.btn-danger.btn-block(type='button' data-toggle='modal' data-target='#deleteUser') Delete account

  .modal.fade(id='deleteUser' tabIndex='-1' role='dialog' aria-labeledby='deleteUserModalLabel' aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5.modal-title(id='deleteUserModalLabel') Delete account confirmation
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body Delete account? The operation is permanent.
        .modal-footer
          form.form-inline(action=urlFor('deleteUser', user.id) method='post')
            input(name='_method' type='hidden' value='delete')
            button.btn.btn-outline-secondary.mr-3(data-dismiss='modal' type='button') Cancel
            button.btn.btn-danger(type='submit') Delete